.profile-modal {
	background-color: rgba(255, 255, 255, 0.8);
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-close-btn {
	font-size: 3rem;
	font-weight: 700;
	cursor: pointer;
	height: 3rem;
	width: 3rem;
}

.modal-close-btn:hover {
	cursor: pointer;
	color: gray;
}
